trigger:
  branches:
    include:
      - main
      - testbed

pool:
  vmImage: ubuntu-latest

steps:
- script: |
    echo "Pipeline is running"
    echo "Branch name: $(Build.SourceBranchName)"
    echo "Commit: $(Build.SourceVersion)"
    ls -la
  displayName: "Sanity check"
