version: "3.9"

services:
  api-testbed:
    image: yhaodevopsacr.azurecr.io/repos-api:testbed
    container_name: api-testbed
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Testbed

  api-prod:
    image: yhaodevopsacr.azurecr.io/repos-api:prod
    container_name: api-prod
    ports:
      - "8081:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production

  web-testbed:
    image: yhaodevopsacr.azurecr.io/repos-web:testbed
    container_name: web-testbed
    ports:
      - "3000:80"

  web-prod:
    image: yhaodevopsacr.azurecr.io/repos-web:prod
    container_name: web-prod
    ports:
      - "3001:80"
