version: "3.9"

services:
  api-testbed:
    image: ghcr.io/v03051435/repos-api:testbed
    container_name: api-testbed
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Testbed

  api2-testbed:
    image: ghcr.io/v03051435/repos-api2:testbed
    container_name: api2-testbed
    restart: unless-stopped
    ports:
      - "8082:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Testbed

  web-testbed:
    image: ghcr.io/v03051435/repos-web:testbed
    container_name: web-testbed
    restart: unless-stopped
    ports:
      - "3000:80"
    environment:
      - VITE_ENV=Testbed
