version: "3.9"

services:
  api-prod:
    image: ghcr.io/v03051435/repos-api:prod
    container_name: api-prod
    restart: unless-stopped
    ports:
      - "8081:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production

  api2-prod:
    image: ghcr.io/v03051435/repos-api2:prod
    container_name: api2-prod
    restart: unless-stopped
    ports:
      - "8083:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production

  web-prod:
    image: ghcr.io/v03051435/repos-web:prod
    container_name: web-prod
    restart: unless-stopped
    ports:
      - "3001:80"
    environment:
      - VITE_ENV=Production
