version: "3.9"

services:
  api-testbed:
    image: ghcr.io/v03051435/repos-api:testbed
    container_name: api-testbed
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Testbed

  api-prod:
    image: ghcr.io/v03051435/repos-api:prod
    container_name: api-prod
    restart: unless-stopped
    ports:
      - "8081:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production

  api2-testbed:
    image: ghcr.io/v03051435/repos-api2:testbed
    container_name: api2-testbed
    restart: unless-stopped
    ports:
      - "8082:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Testbed

  api2-prod:
    image: ghcr.io/v03051435/repos-api2:prod
    container_name: api2-prod
    restart: unless-stopped
    ports:
      - "8083:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production

  web-testbed:
    image: ghcr.io/v03051435/repos-web:testbed
    container_name: web-testbed
    ports:
      - "3000:80"

  web-prod:
    image: ghcr.io/v03051435/repos-web:prod
    container_name: web-prod
    ports:
      - "3001:80"
