version: "3.9"

services:
  api:
    image: ghcr.io/v03051435/repos-api:${IMAGE_TAG:-testbed}
    container_name: api-${ENV_NAME:-testbed}
    restart: unless-stopped
    ports:
      - "${API_HOST_PORT:-8080}:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Testbed}

  api2:
    image: ghcr.io/v03051435/repos-api2:${IMAGE_TAG:-testbed}
    container_name: api2-${ENV_NAME:-testbed}
    restart: unless-stopped
    ports:
      - "${API2_HOST_PORT:-8082}:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT:-Testbed}

  web:
    image: ghcr.io/v03051435/repos-web:${IMAGE_TAG:-testbed}
    container_name: web-${ENV_NAME:-testbed}
    restart: unless-stopped
    ports:
      - "${WEB_HOST_PORT:-3000}:80"
    environment:
      VITE_ENV: ${VITE_ENV:-Testbed}
